body {
  color: #ededed;
  background-color: #3c3d3c;
}
a:link {
  color: #97d4ff;
}
a:visited {
  color: hsl(99, 100%, 87%);
}
img {
  width: 400px;
  height: auto;
}
.image-galery {
  width: 804px;
  border: 0px;
}
@font-face {
  font-family: 'Pobeda Regular';
  src: url('/fonts/pobeda_regular.eot');
  /* IE 9 Compatibility Mode */
  src: url('/fonts/pobeda_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('/fonts/pobeda_regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/pobeda_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('/fonts/pobeda_regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/pobeda_regular.svg#pobeda_regular') format('svg');
  /* Chrome < 4, Legacy iOS */
}
p {
  font-family: "Pobeda Regular", serif;
}
