<!-- https://www.scrapethissite.com/pages/forms/ -->
{% extends "base.html" %}
{% block page_content %}

<script type="text/javascript">

    var getJSON_data = function () {
        var url = "/parser/parse-images"
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);//POST передача в теле 
        xhr.responseType = 'json';
        xhr.overrideMimeType('application/json');
        //обязательный заголовок
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        url_parse = document.getElementById('url_query').value;
        console.log(url_parse);


        xhr.onload = function () {
            var status = xhr.status;
            if (status === 200) {
                //console.log(xhr.response);
                console.log(xhr.response.content);
                var data = xhr.response.content
                /********************************************/

                const table = document.getElementById('files_table');
                const tbody = document.createElement("tbody");
                for (const key in data) {
                    console.log(key);
                    if (data.hasOwnProperty(key)) {
                        let tr = document.createElement('tr');

                        let td0 = document.createElement('td');
                        td0.innerText = key;
                        tr.appendChild(td0);

                        let td1 = document.createElement('td');
                        td1.innerText = data[key]['filename'];
                        tr.appendChild(td1);

                        let td2 = document.createElement('td');
                        td2.innerText = data[key]['image_url'];
                        tr.appendChild(td2);

                        let td3 = document.createElement('td');
                        td3.innerText = data[key]['time'];
                        tr.appendChild(td3);

                        let td4 = document.createElement('td');
                        td4.innerText = data[key]['threds'];
                        tr.appendChild(td4);

                        tbody.appendChild(tr);
                        table.appendChild(tbody);
                    }
                }
                

            } else {//! if (status === 200)            
            }
        };
        //http://radio-uchebnik.ru/el_baza_microshema_auto_triger.html
        xhr.send(JSON.stringify({ "url": url_parse}));
        //xhr.send();
    };

</script>

<div class="page-header">
    <h1>Получение изображений</h1>
</div>
<div class="col-md-4">
    <div class="col-md-12 text-center">
        <form method="GET" action="/pages/forms/" class="form form-inline">
            <label for="q">
                Закачать изображения со страницы: &nbsp;
            </label>
            <input type="text" class="form-control" name="q" id="url_query" placeholder="страница">

            <input id="form_submit" onclick="getJSON_data();" type="button" class="btn btn-primary" value="Скачать">
        </form>
        <hr>
    </div>
    <br>

    <table id="files_table" class="table">
        <tbody>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    link
                </th>
                <th>
                    file
                </th>
                <th>
                    time
                </th>
                <th>
                    type_threads
                </th>
            </tr>
 
        </tbody>
    </table>

</div>
{% endblock %}